.results-button {
    position: absolute;
    top: 1vmax;
    right: 3vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vmax;
    height: 6vmax;
    cursor: pointer;
}

.results-button img {
    width: 4vmax;
    height: 4vmax;
}

.results-button:active img {
    width: 3.5vmax;
    height: 3.5vmax;
}

.results-list-empty {
    margin: 0;
    text-align: center;
}

.results-list-item {
    display: grid;
    grid-template-columns: 6vmax 6vmax 6vmax auto;
    font-size: 3vmax;
}

.results-list-star-container {
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
}

.results-list-star {
    margin-left: 1.5vmax;
    color: gold;
}

.results-list-restart-button {
    margin-top: 2vmax;
    padding: 0.3vmax 1vmax;
    border: none;
    border-radius: 1vmax;
    color: #FFF;
    font-size: 3vmax;
    cursor: pointer;
}

.results-clock {
    margin: -1vmax 0 1vmax;
    text-align: center;
    font-size: 3vmax;
    font-style: italic;
}