.colors-button {
    position: absolute;
    top: 1.2vmax;
    left: 18vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vmax;
    height: 6vmax;
    cursor: pointer;
}

.colors-button img {
    width: 4vmax;
    height: 4vmax;
}

.colors-button:active img {
    width: 3.5vmax;
    height: 3.5vmax;
}

.colors-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1vmax;
}

.color-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vmax;
    height: 10vmax;
}

.color-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vmax;
    height: 10vmax;
    cursor: pointer;
    font-size: 5vmax;
    color: #FFF;
}

.color-block-wrapper:active .color-block {
    width: 9vmax;
    height: 9vmax;
}

.color-block span {

}